<html lang="en">
    <head>
        {% metagen 
            title="Eleventy Plugin Add Meta Tags",
            desc="An eleventy shortcode for generating meta tags.",
            url="https://tannerdolby.com",
            img="/path-to-img.jpg",
            img_alt="Descriptive text for image",
            twitterHandle="@tannerdolby",
            name="Tanner Dolby" 
        %}
    </head>
<body>
    <h1>Eleventy-Meta-Generator</h1>
    <a href="https://github.com/tannerdolby/eleventy-meta-generator">View the project on Github</a>
</body>
</html>