
<!DOCTYPE html>
<html lang="en">
<head>
    {% metagen
        title="Eleventy Plugin Meta Generator",
        desc="An eleventy shortcode for generating meta tags.",
        robots="noindex,nofollow", 
        url="https://tannerdolby.com",
        img="https://tannerdolby.com/images/arch-spiral-large.jpg",
        img_alt="Archimedean Spiral",
        twitter_card_type="summary_large_image",
        twitter_handle="tannerdolby",
        name="Tanner Dolby",     
        generator="11ty",
        preconnect="https://foo.com",
        dns_prefetch="https://example.com",
        comments=true
    %}
</head>
<body>
    <h1>Testing the eleventy-plugin-metagen plugin</h1>
    <p>All of the meta tags are within the <code>&lt;head&gt;</code>. That is where the majority of elements being tested can be found.</p>
</body>
</html>