---
metadata:
  title: Eleventy Plugin Meta Generator
  desc: An eleventy shortcode for generating meta tags.
  url: https://tannerdolby.com
  img: https://tannerdolby.com/images/arch-spiral-large.jpg
  img_alt: Archimedean Spiral
  twitter_card_type: summary_large_image
  twitter_handle: tannerdolby
  name: Tanner Dolby
  generator: 11ty
  comments: true
  site_name: Metagen
  robots: noindex
  minified: false
  crawlers:
    googlebot: noindex
    googlebot-news: nosnippet
  preconnect: [{url: https://fonts.googleapis.com/, crossorigin: true}, https://google.com]
  dns_prefetch: [https://fonts.googleapis.com/, https://google.com]
  og_alternate_locales: [es, zh, ja]
  css: [style.css, foo.css:rel="preload":as="style"]
  js: [foo.js, bar.js:async:type="module", fizz.js:defer]
  inline_css: 'h1 {color: #f06}'
  inline_js: [
    'console.log("hello, world");',
    {type: 'application/json', id: 'some-id', js: '{"data": "hello"}'}
  ]
  custom: [
    {tag: 'meta', attrs: {name: 'foobar', content: 'fizz'}},
    {tag: 'link', attrs: {rel: 'stylesheet', href: 'print.css', media: 'print'}},
    {tag: 'link', attrs: {rel: 'preload', href: 'myFont.woff2', as: 'font', type: 'font/woff2', crossorigin: 'anonymous'}}
  ]
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% metagen metadata %}
</head>
<body>
    <h1>Test Fixture</h1>
    <p>Inspect the page with DevTools and checkout the <code>&lt;head&gt;</code></p>
</body>
</html>